<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Tangram Team. All rights reserved.                 -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentComponent">
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="StartAssembly" Guid="*">
        <File Id="Start" Name='CartoDBRes.dll' DiskId='1' Source='$(var.BuildOutputDir)CartoDBRes.dll' KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ComponentPackage">
      <ComponentRef Id="StartAssembly" />
    </ComponentGroup>
  </Fragment>
</Wix>