<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Tangram Team. All rights reserved.                 -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentTangramPackage">
    <DirectoryRef Id="AppExtFolder">
      <Component Id="TangramPackageAssembly" Guid="*">
        <File Id="TangramPackageAssembly" Name='TangramPackage.dll' DiskId='1' Source='$(var.BuildOutputDir)TangramPackage.dll' KeyPath='yes' />
      </Component>
      <Component Id="TangramPackageDef" Guid="*">
        <File Id="TangramPackageDef" Name='TangramPackage.pkgdef' DiskId='1' Source='$(var.BuildOutputDir)Extensions\Application\TangramPackage.pkgdef' KeyPath='yes' />
      </Component>
      <Directory Id="TangramPackageResourcesFolder" Name="$(var.ProductLanguage)">
        <Component Id="TangramPackageUI" Guid="*">
          <File Id="TangramPackageUI" Name='TangramPackageUI.dll' DiskId='1' Source='$(var.BuildOutputDir)TangramPackageUI.dll' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="TangramPackage">
      <ComponentRef Id="TangramPackageAssembly" />
      <ComponentRef Id="TangramPackageUI" />
      <ComponentRef Id="TangramPackageDef" />
    </ComponentGroup>

  </Fragment>
</Wix>