<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Tangram Team. All rights reserved.                 -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentTemplates">
    <DirectoryRef Id="AppExtFolder">
      <Directory Id="TemplatesFolder" Name="Templates">
        <Component Id="Templatesvsdir" Guid="*">
          <File Id="Templatesvsdir" Name='TangramPackage.vsdir' DiskId='1' Source='$(var.BuildOutputDir)Extensions\Templates\TangramPackage.vsdir' KeyPath='yes' />
        </Component>
        <Component Id="TemplatesAssembly" Guid="*">
          <File Id="TemplatesAssembly" Name='TangramExtFile.html' DiskId='1' Source='$(var.BuildOutputDir)Extensions\Templates\TangramExtFile.html' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="TemplatesPackage">
      <ComponentRef Id="TemplatesAssembly" />
      <ComponentRef Id="Templatesvsdir" />
    </ComponentGroup>

  </Fragment>
</Wix>