<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Tangram Client Runtime Component x86" Language="1033" Version="1.0.0.0" Manufacturer="Tangram Team" UpgradeCode="2d1010fb-3120-470a-bf12-2aa8fff90002">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" Platform="x86" />

    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="TangramCRTMSIx86" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!--<UIRef Id="WixUI_Minimal"/>-->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Tangram">
          <Directory Id="OFFICEPLUS" Name="MsOfficePlus">
            <Directory Id="EXCELPLUS" Name="excel">
            </Directory>
            <Directory Id="WORDPLUS" Name="winword">
            </Directory>
            <Directory Id="POWERPNTPLUS" Name="Powerpnt">
            </Directory>
            <Directory Id="ACCESSPLUS" Name="msaccess">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="SystemFolder">
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="compconcrt140Library" Guid="{C4ACD4E0-AED1-4CB7-9AB1-013D80C40001}" Directory="SystemFolder">
        <File Id="fileconcrt140DLL" Name="concrt140.dll" DiskId="1" Source="../MSI/Microsoft.VC140.CRT/concrt140.dll" KeyPath="yes"></File>
      </Component>
      <Component Id="msvcp140Library" Guid="{C4ACD4E0-AED1-4CB7-9AB1-013D80C40002}" Directory="SystemFolder">
        <File Id="filemsvcp140DLL" Name="msvcp140.dll" DiskId="1" Source="../MSI/Microsoft.VC140.CRT/msvcp140.dll" KeyPath="yes"></File>
      </Component>
      <Component Id="compvcruntime140Library" Guid="{C4ACD4E0-AED1-4CB7-9AB1-013D80C40003}" Directory="SystemFolder">
        <File Id="filevcruntime140DLL" Name="vcruntime140.dll" DiskId="1" Source="../MSI/Microsoft.VC140.CRT/vcruntime140.dll" KeyPath="yes"></File>
      </Component>
      <Component Id="compvccorlib140Library" Guid="{C4ACD4E0-AED1-4CB7-9AB1-013D80C40004}" Directory="SystemFolder">
        <File Id="filevccorlib140DLL" Name="vccorlib140.dll" DiskId="1" Source="../MSI/Microsoft.VC140.CRT/vccorlib140.dll" KeyPath="yes"></File>
      </Component>
      <Component Id="compTangramLibrary" Guid="{4714AE31-169D-4177-91C9-1EB0422B522C}" Directory="INSTALLFOLDER">
        <File Id="fileTangramDLL" Name="Tangram.dll" DiskId="1" Source="../Release/Tangram.dll" SelfRegCost="1" KeyPath="yes"></File>
      </Component>
      <Component Id="compTangramCLRLibrary" Guid="{C4ACD4E0-AED1-4CB7-9AB1-013D80C4A3A7}" Directory="INSTALLFOLDER" >
        <File Id="fileTangramCLRDLL" Name="TangramCLR.dll" DiskId="1" Source="../Release/TangramCLR.dll" KeyPath="yes" ProcessorArchitecture="x86"></File>
      </Component>
      <!--BEGIN Non-core Component-->
      <Component Id="compTangramExTabWnd" Guid="{492BF889-3712-47D6-B9C8-8BCC045707CE}" Directory="INSTALLFOLDER">
        <File Id="fileTangramExTabWndDLL" Name="TangramExTabWnd.dll" DiskId="1" Source="../Release/TangramExTabWnd.dll" SelfRegCost="1" KeyPath="yes"></File>
      </Component>
      <Component Id="compTangramTabbedWnd" Guid="{6031D9AF-3E76-4350-8C3F-1260CA1B9FE6}" Directory="INSTALLFOLDER" >
        <File Id="fileTangramTabbedWndDLL" Name="TangramTabbedWnd.dll" DiskId="1" Source="../Release/TangramTabbedWnd.dll" SelfRegCost="1" KeyPath="yes"></File>
      </Component>
      <Component Id="compTangramTabCtrl" Guid="{73EF93DE-1E85-450B-9D6F-696A17E0AAD6}" Directory="INSTALLFOLDER">
        <File Id="fileTangramTabCtrlDLL" Name="TangramTabCtrl.dll" DiskId="1" Source="../Release/TangramTabCtrl.dll" SelfRegCost="1" KeyPath="yes"></File>
      </Component>
      <!--END Non-core Component-->
      <!--BEGIN Office Plus-->
      <Component Id="compTangramExcelPlus" Guid="{492BF889-3712-47D6-B9C8-8BCC04570001}" Directory="EXCELPLUS">
        <File Id="fileTangramExcelPlus" Name="excel.tangram" DiskId="1" Source="../MsOfficePlus/excel.tangram" KeyPath="yes"></File>
      </Component>
      <Component Id="compTangramWordPlus" Guid="{6031D9AF-3E76-4350-8C3F-1260CA1B0002}" Directory="WORDPLUS">
        <File Id="fileTangramWordPlus" Name="winword.tangram" DiskId="1" Source="../MsOfficePlus/winword.tangram" KeyPath="yes"></File>
      </Component>
      <Component Id="compTangramPowerpntPlus" Guid="{73EF93DE-1E85-450B-9D6F-696A17E00003}" Directory="POWERPNTPLUS">
        <File Id="fileTangramPowerpntPlus" Name="powerpnt.tangram" DiskId="1" Source="../MsOfficePlus/powerpnt.tangram" KeyPath="yes"></File>
      </Component>
      <Component Id="compTangramAccessPlus" Guid="{73EF93DE-1E85-450B-9D6F-696A17E00004}" Directory="ACCESSPLUS">
        <File Id="fileTangramAccessPlus" Name="msaccess.tangram" DiskId="1" Source="../MsOfficePlus/msaccess.tangram" KeyPath="yes"></File>
      </Component>
      <!--END Office Plus-->
    </ComponentGroup>
  </Fragment>
</Wix>