<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Tangram Team. All rights reserved.        -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentEditorAdornment">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="TangramPackageFolder" Name="TangramPackage">
        <Component Id="TangramPackageManifest" Guid="*">
          <File Id="TangramPackageManifest" Name='extension.vsixmanifest' DiskId='1' Source='$(var.BuildOutputDir)Extensions\TangramPackage\extension.vsixmanifest' KeyPath='yes' />
        </Component>
        <Component Id="TangramPackageAssembly" Guid="*">
          <File Id="TangramPackageAssembly" Name='TangramPackage.dll' DiskId='1' Source='$(var.BuildOutputDir)\TangramPackage.dll' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="TangramPackage">
      <ComponentRef Id="TangramPackageAssembly" />
      <ComponentRef Id="TangramPackageManifest" />
    </ComponentGroup>

  </Fragment>
</Wix>